<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/upload.css">
</head>
<body>
    <div class="container">
        <form action="/upload" method="post" enctype="multipart/form-data">
            <div class="imge-post">
                <img src="https://imgs.search.brave.com/Q4bL_yMEAbXiFCo2MCwZ4wHEa5PwxrArKnfgEBhrCTU/rs:fit:860:0:0/g:ce/aHR0cHM6Ly9hc3Nl/dHMuc3RpY2twbmcu/Y29tL2ltYWdlcy81/ODVlNGJmM2NiMTFi/MjI3NDkxYzMzOWEu/cG5n" alt="" srcset="">
                <label for="selectimg">Select Image</label>
                <input type="file" name="image" id="selectimg">
            </div>
            <textarea name="caption" id="" cols="30" rows="10" placeholder="write caption...."></textarea>
            <button type="submit">Create post</button>
        </form>
    </div>
</body>
</html>