*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}
.imge-post{
    background-color:rgb(13, 13, 13);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 70px 150px;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    margin-top: 30px;
}
.imge-post img{
    width: 150px;
}
input[type="file"]{
    display: none;
} 
.imge-post label{
    display:inline-block;
    cursor: pointer;
    background-color: #0079ff;
    color: white;
    padding: 10px 20px;
    margin-top: 20px;
    text-transform: capitalize;
    font-size: 17px;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    user-select: none;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}
textarea{
    display: block;
    background-color: transparent;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    border: 2px solid  #262626;
    width: 100%;
    resize: none;
    height: 100px;
    margin-top: 20px;
    padding: 20px;
    color: white;
    font-size: 19px;
    outline: none;
}
button{
    display:inline-block;
    cursor: pointer;
    background-color: #0079ff;
    color: white;
    padding: 10px 20px;
    margin-top: 20px;
    text-transform: capitalize;
    font-size: 17px;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
    user-select: none;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    outline: none;
    border: 2px solid transparent;
    align-items: center;
    margin-left: 30%;
    width: 40%;
}